@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

body {
    background: black;
    font-family: 'Rock Salt', cursive;
    color: white;
}

.game {
    display: grid;
    grid-template-columns: 1fr;
    width: 90vw;
    justify-items: center;
    margin: auto;
    position: relative;
}

.title {
    font-size: 25px;
}

.wrapper {
    min-height: 600px;
    width: 900px;
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    border: 1px solid black;
}

.controls {
    width: 100%;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 16px;
}

.activePlayer {
    font-size: 16pt;
}

.clearBoard {
    padding: 5px;
    margin-left: auto;
    border-radius: 10px;
    border: 1px solid red;
    background: black;
    color: yellow;
}


.box {
    height: 200px;
    color: red;
    background: yellow;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center center;
    font-size: 70px;
    font-weight: bold;
    border: 1px solid green;
    border-radius: 5px;
}

.unavailable {
    border: 1px solid red;
}

.modal-container {
    height: 95vh;
    width: 95vw;
    background: black;
    position: absolute;
    top: 5%;
    left: 3%;
    opacity: 100%;
    margin: auto;
}

.modal-message {
    background: red;
    color: yellow;
    min-height: 200px;
    width: 400px;
    position: absolute;
    top: 30%;
    left: 30%;
    opacity: 100%;
    padding: 10px;
    border: 2px solid yellow;
    border-radius: 10px;
}

.modalText {
    font-size: 40px;
    text-align: center;
}

.hidden {
    display: none
}

.credits {
    padding-top: 8px;
    font-family: 'Roboto', sans-serif;
}