:root {
    font-size: 62.5%;
}

body {
    width: 95vw;
    height: 95vh;
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    justify-items: center;
    background: #bada55;
    margin: auto;
}

header {
    height: 5rem;
    width: 100%;
    text-align: center;
}

.wrapper {
    border: 1px solid black;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    height: 5rem;
}

.gameBoard {
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.box {
    width: 100%;
    border: 1px solid red;
    font-size: 10rem;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center center;
}